<!DOCTYPE html>
<html>
 <head>
  <title>Products RecordBook</title>
  <!-- <link rel="stylesheet" href="/css/master.css" type="text/css"> -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<header class="navbar navbar-fixed-top ">
     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  <div class="container">
    <div class="brand">
      <%= link_to "sample app", '#', id: "logo" %>
    </div>
    <div class="links">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home",   items_path , class: "btn "%></li>
        <% if user_signed_in? %>
          <li><%= link_to "Account", edit_user_registration_path, class: "btn "  %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn " ) %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "btn " %></li>
          <li><%= link_to "Sign In", new_user_session_path, class: "btn " %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
<div class="container temp">
  <%= yield  %>
</div>
</body>
</html>
